<div class="main_about">
    <div class="col-md-12">
        <div class="about_content">
            <div style="display: flex;">
                <div class="tuto_content">
                    <h2>Finished !</h2>
                    <div class="separator_left"></div>
                    <p>
                        That's it ! you can now start to use your device as you wish !<br>
                        you can add it to some luggage or locker, rename your device in your settings<br>
                        If you need further information, find the support's contact in the contact us menu
                    </p>
                </div>
                <div class="illustration_tuto" style="padding-top: 10%;">
                    <img src="{{ url_for('static', filename='images/tuto/coffre.jpg') }}" height="400px">
                </div>
            </div>
            <br><br><br><br>
            <br><br>
            <div class="col-md-12">
                <a href="/tutorial/0"><div class="col-md-3 step_controller" style="background-color:#4db6ac">1 <span style="font-size:0.5em">Discover</span></div></a>
                <a href="/tutorial/1"><div class="col-md-3 step_controller" style="background-color:#4db6ac">2 <span style="font-size:0.5em">Register</span></div></a>
                <a href="/user/add_safe"><div class="col-md-3 step_controller" style="background-color:#4db6ac">3 <span style="font-size:0.5em">Bind</span></div></a>
                <a href="#"><div class="col-md-3 step_controller" style="background-color:#009688">4 <span style="font-size:0.5em">Enjoy</span></div></a>
            </div>
            <br><br><br><br>

            <div class="about_btns m-top-40 float-right">
                <a href="/" data-step="next" data-next="3" class="btn btn-primary" style="float:right;">FINISH</a>
            </div>
        </div>
    </div>
</div>