<div class="main_about">
    <div class="col-md-12">
        <div class="about_content">
            <div style="display: flex;">
                <div class="tuto_content">
                    <h2>Step zero : discover your Rokka device</h2>
                    <div class="separator_left"></div>
                    <p>
                        ROKKA is a new branch security mesure to protect your precious documents. With a team composed of experimented security developers and Github friends, ROKKA is future-proof, always listening to our community feedback, and in continuous evolution, all that at your service.<br>
                        As a top-notch security product, ROKKA add a triple layer of protection, to provide our customers the secrecy they deserve.
                    </p>
                </div>
                <div class="illustration_tuto">
                    <img src="{{ url_for('static', filename='images/tuto/coffre-ferme.jpg') }}">
                </div>
            </div>

            <br><br><br><br><br><br>
            <div class="col-md-12">
                <a href="#"><div class="col-md-3 step_controller" style="background-color:#009688">1 <span style="font-size:0.5em">Discover</span></div></a>
                <div class="col-md-3 step_controller">2</div>
                <div class="col-md-3 step_controller">3</div>
                <div class="col-md-3 step_controller">4</div>
            </div>
            <br><br><br><br>

            <div class="about_btns m-top-40 float-right">
                <a href="/tutorial/1" data-step="next" data-next="1" class="btn btn-primary" style="float:right;">NEXT</a>
            </div>
        </div>
    </div>
</div>