<div class="main_about">
    <div class="col-md-12">
        <div class="about_content">
            <div style="display: flex;">
                <div class="tuto_content">
                    <h2>Step two : Link your product key to your account</h2>
                    <div class="separator_left"></div>
                    <p>
                        To enable the use of your device, you need to enter the product key into your settings<br>
                        Or you can send it using the form below<br>
                        Then submit, and we'll enable the feature of your Rokka locker !
                    </p>
                </div>
                <div class="illustration_tuto" style="padding-top: 10%;">
                    <img src="{{ url_for('static', filename='images/tuto/product_key.png') }}">
                </div>
            </div>
            <br><br><br>

            <!--TODO : mettre la bone adresse = route pour requêter sur raspberry -->
            <form action="" method="POST" >
                {{ form.hidden_tag() }}
                <div>{{ form.name.label }}<br>{{ form.name }}</div>
                <div>{{ form.pid.label }}<br>{{ form.pid }}</div>
                <p class="btn btn-primary btn-lg btn-block login-button">{{ form.submit }}</p>
            </form>

            <br><br><br>
            <div class="col-md-12">
                <a href="/tutorial/0"><div class="col-md-3 step_controller" style="background-color:#4db6ac">1 <span style="font-size:0.5em">Discover</span></div></a>
                <a href="/tutorial/1"><div class="col-md-3 step_controller" style="background-color:#4db6ac">2 <span style="font-size:0.5em">Register</span></div></a>
                <a href="#"><div class="col-md-3 step_controller" style="background-color:#009688">3 <span style="font-size:0.5em">Bind</span></div></a>
                <div class="col-md-3 step_controller">4</div>
            </div>
            <br><br><br><br>

            <div class="about_btns m-top-40 float-right">
                <a href="/tutorial/3" data-step="next" data-next="2" class="btn btn-primary" style="float:right;">NEXT</a>
            </div>
        </div>
    </div>
</div>