<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Rokka</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonticons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsnav.css') }}">


        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
        <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <!--<li class="dropdown">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" >-->
                                    <!--<i class="fa fa-shopping-bag"></i>-->
                                    <!--<span class="badge">3</span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu cart-list">-->
                                    <!--<li>-->
                                        <!--<a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>-->
                                        <!--<h6><a href="#">Delica omtantur </a></h6>-->
                                        <!--<p class="m-top-10">2x - <span class="price">$99.99</span></p>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>-->
                                        <!--<h6><a href="#">Delica omtantur </a></h6>-->
                                        <!--<p class="m-top-10">2x - <span class="price">$99.99</span></p>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#" class="photo"><img src="assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>-->
                                        <!--<h6><a href="#">Delica omtantur </a></h6>-->
                                        <!--<p class="m-top-10">2x - <span class="price">$99.99</span></p>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash;&#45;&#45; More List &#45;&#45;&ndash;&gt;-->
                                    <!--<li class="total">-->
                                        <!--<span class="pull-right"><strong>Total</strong>: $0.00</span>-->
                                        <!--<a href="#" class="btn btn-cart">Cart</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class="search"><a href="#"><i class="fa fa-search"></i></a></li>-->
                            <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">

                            <img src="{{ url_for('static', filename='images/logo-rokka-min.png') }}" class="logo logo-display" alt="">
                            <img src="{{ url_for('static', filename='images/logo-rokka-min.png') }}" class="logo logo-scrolled" alt="">

                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a href="#hello">ROKKA</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#service">Declare a product</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


                <!--custom sidemenu-->
                {% include 'sidemenu.html' %}

            </nav>


            <!--About Sections-->
            <section id="about" class="about roomy-100">
                <div class="container">
                    <div class="row">

                        <div class="main_about">
                            <!--DIRTY-->
                            {% if step == 0 %}
                                {% include 'steps/step_0.html' %}
                            {% elif step==1 %}
                                {% include 'steps/step_1.html' %}
                            {% elif step == 2 %}
                                {% include 'steps/step_2.html' %}
                            {% elif step == 3 %}
                                {% include 'steps/step_3.html' %}
                            {%endif%}
                            <!--END DIRTY-->

                            <br><br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <div class="col-md-6">
                                <div class="about_accordion wow fadeIn">
                                    <div id="faq_main_content" class="faq_main_content">
                                        <h6><i class="fa fa-angle-right"></i> TRIPLE SECURITY </h6>
                                        <div>
                                            <div class="content">
                                                <p>
                                                    To protect your precious items, nothing is <i>too much</i>
                                                    <br>
                                                    Coming with a magnetic card and a pin code, ROKKA add a password reset after a timed-out unsuccessful password.
                                                    You will immediately be informed of the intrusion and a new password will be issued to you.
                                                    <br>
                                                    SECURITY GUARANTEED
                                                </p>

                                            </div>
                                        </div> <!-- End off accordion item-1 -->

                                        <h6><i class="fa fa-angle-right"></i> EXPERIENCE TEAM</h6>
                                        <div>
                                            <div class="content">
                                                <p>
                                                    ROKKA is built with the help of thousand developers on GitHub, united around a core team working under the best security companies of the world
                                                    <br>
                                                    You can trust us to keep your secrets well guarded
                                                </p>
                                            </div>
                                        </div> <!-- End off accordion item-2 -->

                                        <h6> <i class="fa fa-angle-right"></i> EASY TO APPLY </h6>
                                        <div>
                                            <div class="content">
                                                <p>
                                                    ROKKA is a compact lock, that means that, while it offers a high protection, it doesn't require a load of work to install.
                                                    <br>
                                                    It comes with a fully detailed manual and a setup guide to help you setting things up. It can be install on everything your mind dreams of.
                                                    Of course, if things get messy, you can always contact us to resolve your problems.
                                                </p>
                                            </div>
                                        </div> <!-- End off accordion item-3 -->

                                        <h6><i class="fa fa-angle-right"></i> FREE UPDATES </h6>
                                        <div>
                                            <div class="content">
                                                <p>
                                                    The code behind ROKKA is Open Source. That means that you can create your ROKKA for FREE. But also that you always have access to any update the team made, without worry about security. It proves to be both economic and rapidly updated if an issue is raised
                                                    <br>
                                                    Get the source code <a href="https://github.com/Rokka-Safe" target="_blank">Here</a>
                                                </p>
                                            </div>
                                        </div> <!-- End off accordion item-4 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
            </section> <!--End off About section -->

            <!--Pricing Section-->
            <section id="pricing" class="pricing lightbg">
                <div class="container">
                    <div class="row">
                        <div class="main_pricing roomy-100">
                            <div class="col-md-8 col-md-offset-2 col-sm-12">
                                <div class="head_title text-center">
                                    <h2>OUR PRICING</h2>
                                    <div class="separator_auto"></div>
                                    <p>ROKKA comes with a multi-flavored pricing, depending on your needs. All packs come with the full protection, no <i>Premium Security</i>, no <i>paid subscription</i>, you get the code and the free updates </p>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <div class="pricing_item">
                                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                        <h3 class="text-uppercase">STARTER</h3>
                                    </div>
                                    <div class="pricing_price_border text-center">
                                        <div class="pricing_price">
                                            <h3 class="text-white">FREE</h3>
                                            <p class="text-white">Get the code on GitHub</p>
                                        </div>
                                    </div>

                                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                        <ul>
                                            <li><i class="fa fa-check-circle text-primary"></i> Free updates</li>
                                            <li><i class="fa fa-times-circle text-primary"></i> Detailed Guide</li>
                                            <li class="disabled"><i class="fa fa-times-circle"></i> No Physical lock</li>

                                        </ul>
                                        <div class="pricing_btn text-center m-top-40">
                                            <a href="https://github.com/Rokka-Safe" class="btn btn-primary">GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->

                            <div class="col-md-4 col-sm-12">
                                <div class="pricing_item sm-m-top-30">
                                    <div class="pricing_top_border"></div>
                                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                        <h3 class="text-uppercase">ROKKA Lock</h3>
                                    </div>
                                    <div class="pricing_price_border text-center">
                                        <div class="pricing_price">
                                            <h3 class="text-white">$150</h3>
                                        </div>
                                    </div>

                                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                        <ul>
                                            <li><i class="fa fa-check-circle text-primary"></i>Magnetic card included</li>
                                            <li><i class="fa fa-check-circle text-primary"></i>Logs for all openings</li>
                                            <li><i class="fa fa-times-circle text-primary"></i>Knowledge of serenity</li>
                                        </ul>
                                        <div class="pricing_btn text-center m-top-40">
                                            <a href="" class="btn btn-primary">BUY ONE</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->

                            <div class="col-md-4 col-sm-12">
                                <div class="pricing_item sm-m-top-30">
                                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                        <h3 class="text-uppercase">ROKKA LOVER</h3>
                                    </div>
                                    <div class="pricing_price_border text-center">
                                        <div class="pricing_price">
                                            <h3 class="text-white">$275</h3>
                                            <p class="text-white">for 2 ROKKA Locks</p>
                                        </div>
                                    </div>

                                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                        <ul>
                                            <li><i class="fa fa-check-circle text-primary"></i>Twice the fun</li>
                                            <li><i class="fa fa-check-circle text-primary"></i>Invite a friend</li>
                                            <li><i class="fa fa-check-circle text-primary"></i>Ascend to a new plane of existence</li>
                                        </ul>
                                        <div class="pricing_btn text-center m-top-40">
                                            <a href="" class="btn btn-primary">BUY TWO</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->

                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Pricing section -->

            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->
        </div>
        <!-- JS includes -->

        <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.collapse.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootsnav.js') }}"></script>


        <!-- paradise slider js -->


        <script src="http://maps.google.com/maps/api/js?key=AIzaSyD_tAQD36pKp9v4at5AnpGbvBUsLCOSJx8"></script>
        <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>

        <script>
                        function showmap() {
                            var mapOptions = {
                                zoom: 8,
                                scrollwheel: false,
                                center: new google.maps.LatLng(-34.397, 150.644),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                            $('.mapheight').css('height', '350');
                            $('.maps_text h3').hide();
                        }

        </script>

        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>
            $('[data-step="next"]').on('click', function () {
                let url = "http://localhost:5000/tutorial/" + $(this).attr("data-next");
                console.log(url);
                $.get(url, function (data) {
                    console.log(data);
                });
            });
        </script>

    </body>
</html>
