{% extends 'base.html' %}
{% block content %}
                            <!--DIRTY-->
                            {% if step == 0 %}
                                {% include 'steps/step_0.html' %}
                            {% elif step==1 %}
                                {% include 'steps/step_1.html' %}
                            {% elif step == 2 %}
                                {% include 'steps/step_2.html' %}
                            {% elif step == 3 %}
                                {% include 'steps/step_3.html' %}
                            {%endif%}
                            <!--END DIRTY-->
{% endblock %}